
@{
	ViewData["Title"] = "AboutUs";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="~/css/site.css">
	<style>


		body {
			background-color: #f1f1f1;
			font-family: Arial;
		}

		/* Center website */
		.main {
			width: 100%;
			margin: auto;
		}

		h1 {
			word-break: break-all;
		}

		.row {
			margin: 8px -16px;
		}

			/* Add padding BETWEEN each column */
			.row,
			.row > .column {
				padding: 10px;
			}

		/* Create four equal columns that floats next to each other */
		.column {
			float: left;
			width: 30%;
		}

		/* Clear floats after rows */
		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		/* Content */
		.content {
			background-color: white;
			padding: 10px;
		}

		/* Responsive layout - makes a two column-layout instead of four columns */
		@@media screen and (max-width: 600px) {
			.column {
				width: 50%;
			}
		}

		/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
		@@media screen and (max-width: 300px) {
			.column {
				width: 100%;
			}
		}
	</style>
</head>
<body>

	<div class="topnav">
		<a href="Index.cshtml">Accidents And Crashes</a>
		<a  href="Crashstats.cshtml">Monroe county crash Data Description</a>
		<a href="Visualize.cshtml">Visualising DATA</a>
		<a class="active" href="Aboutus.cshtml">About our Team</a>
	</div>


	<!-- MAIN (Center website) -->
	<div class="main">

		<h1>Our Team - Assignment_3</h1>
		<p>This website represents the statistics and visualization of crash data in Monroe County</p>
		<hr>

		<h2>Members</h2>

		<!-- Portfolio Gallery Grid -->
		<div class="row">
			<div class="column">
				<div class="content">
					<img src="images/Vivek.jpg" style="width:100%" class="rotateimg180">
					<h3>Vivek</h3>
					<p>
						Designed the website/p>
						<a href="https://github.com/vivekmankar">Github</a>
						<a href="https://www.linkedin.com/in/vivekmankar/">LinkedIn</a>
				</div>
			</div>
			<div class="column">
				<div class="content">
					<img src="images/Neethi.jpg" style="width:100%">
					<h3>Neethi</h3>
					<p>Worked on datamodel and helped in designing the datamodel </p>
					<a href="https://github.com/vuchula">Github</a>
					<a href="https://www.linkedin.com/in/vuschula/">LinkedIn</a>
				</div>
			</div>
			<div class="column">
				<div class="content">
					<img src="images/Osman.jpg" style="width:100%">
					<h3>Osman</h3>
					<p>Helped with responsive layout design and color schemes</p>
					<a href="https://github.com/osmanrahman">Github</a>
					<a href="https://www.linkedin.com/in/osmanrahman/">LinkedIn</a>
				</div>
			</div>

		</div>
		<h1> Data Model </h1>
		<div class="content">
			<img src="images/datamodel.jpeg" style="width:50%; height:50%">

		</div>

		<!-- END MAIN -->
	</div>

</body>
</html>
