
@{
	ViewData["Title"] = "Crash Statistics";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
	<style>
		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			border: 1px solid #ddd;
		}

		th, td {
			text-align: left;
			padding: 12px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2
		}

		.chart-container {
			width: 80%;
			height: 480px;
			margin: 0 auto;
		}

		.pie-chart-container {
			width: 360px;
			height: 360px;
			float: left;
		}
	</style>
</head>
<body>
	<div class="topnav">
		<a href="Index.cshtml">Accidents And Crashes</a>
		<a class="active" href="Crashstats.cshtml">Monroe county crash Data Description</a>
		<a href="Visualize.cshtml">Visualising DATA</a>
		<a href="Aboutus.cshtml">About our Team</a>
	</div>

	<h1> Grid view and data description</h1>

	<p>
		This is a small portion of the dataset. This data represent the crash count across Monroe County over the years.
		<br> As can be seen, this data tells us :the date , the time of the crash , Whether it happened on a weekend or a weekday?
		<br> What was the collision type. The injury type and location of the crash.

	</p>

	<div style="overflow-x:auto;">
		<table>
			<tr>
				<th>Date</th>
				<th>Hour</th>
				<th>Weekend?</th>
				<th>Collision Type</th>
				<th>Reported Location</th>
				<th>Injury-Type</th>

			</tr>
			<tr>
				<td>01-05-2015</td>
				<td>0</td>
				<td>Weekday</td>
				<td>2-Car</td>
				<td>1st and Fess</td>
				<td>Fatal</td>

			</tr>
			<tr>
				<td>1-06-2015</td>
				<td>1500</td>
				<td>Weekday</td>
				<td>2-car</td>
				<td>2ND and College</td>
				<td>Fatal</td>

			</tr>
			<tr>
			<tr>
				<td>01-07-2015</td>
				<td>1100</td>
				<td>Weekend</td>
				<td>2-car</td>
				<td>W-3RD</td>
				<td>No-Injury</td>


			<tr>
			<tr>
				<td>01-01-2015</td>
				<td>1300</td>
				<td>Weekend</td>
				<td>3+cars</td>
				<td>Roger and W Pattersons</td>
				<td>Fatal</td>

			</tr>
			<tr>
			<tr>
				<td>01-02-2015</td>
				<td>700</td>
				<td>Weekday</td>
				<td>2 cars</td>
				<td>446 & SR46E</td>
				<td>In-capacitating</td>

			</tr>
			<tr>
			<tr>
				<td>01-01-2015</td>
				<td>1800</td>
				<td>Weekend</td>
				<td>2 cars</td>
				<td>Dillman and SR375</td>
				<td>In-capacitating</td>

			</tr>
			<tr>
			<tr>
				<td>01-09-2015</td>
				<td>1400</td>
				<td>Weekend</td>
				<td>2 cars</td>
				<td>North Grant</td>
				<td>Fatal</td>
			</tr>
			<tr>
			<tr>
				<td>01-09-2015</td>
				<td>1800</td>
				<td>Weekday</td>
				<td>3+cars</td>
				<td>South Liberty</td>
				<td>No-Injury</td>
			</tr>
			<tr>
			<tr>
				<td>01-10-2015</td>
				<td>1200</td>
				<td>Weekend</td>
				<td>3+cars</td>
				<td>Arlington and Monroe</td>
				<td>No-Injury</td>
			</tr>
			<tr>
			<tr>
				<td>01-09-2015</td>
				<td>1900</td>
				<td>Weekend</td>
				<td>2 cars</td>
				<td>E Kirkwoods</td>
				<td>Unknown</td>
			</tr>

		</table>
		<br>


	</div>


</body>
</html>
